*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}
.full-width{
    width: 80vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 10vw;
    z-index: 999;
    background-color: #eeebff00;
    display: none;
}
.open-popup{
    background-color: #eeebff;
    width: 350px;
    height: auto;
    padding: 0 1rem;
    position: absolute;
    vertical-align: middle;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 1;
    border-radius: 8px;
    border: 2px solid #d5cff9;
    display: none;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.25);
}
.popup-heading{
    font-size: 2rem;
    padding: 0.5rem 0;
    color: #0E155E;
}
.close{
    display: block;
    margin: 0 0 -1.5rem auto;
    padding: 0;
    background-color: transparent;
    font-size: 30px;
    color: #555555;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup-form{
    padding: 0;
}
.popup-input-section {
    display: flex;
    flex-direction: column;
}
.popup-input-box {
    width: 90%;
    height: 40px;
    margin: 15px auto;
    border: 2px solid #3e3c3c;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 10px;
}
.popup-submit-btn {
    height: 50px;
    width: 220px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.2rem 0rem;
    color: #fff;
    background-color: #4F35F2;
    border: 4px solid #ffffff;
    box-shadow: 0px 8px 10px rgb(0 0 0 / 20%);
    border-radius: 10px;
    cursor: pointer;
}
.banner{
    background-color: #0E155E;
    padding: 1rem 8rem 4rem 8rem;
    color: #f5f5f5;
}
.clabs-logo{
    width: 220px;
    height: 65px;
    /* padding-left: 2rem;
    margin-left: 5rem; */
}
.banner-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -2rem;
    /* justify-content: flex-start; */
}
.col-1{
    /* padding: 2rem; */
    align-items: flex-start;
}
.heading{
    font-size: 35px;
    width: 750px;
}
.col-2{
    align-items: center;
    text-align: center;
    width: max-content;
}
.santosh-img{
    width: 400px;
    margin-bottom: -2.5rem;
}
.san-text{
    color: #FF9D00;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
.score-high{
    background-image: url(./assets/score-high-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    height: auto;
    width: auto;
    text-align: center;
    padding: 2rem;
}
.quant{
    background-color: #4F35F2;
    color: #FFFFFF;
    font-size: clamp(0.8rem, calc(2vw + 0.5rem), 1.6rem);
    font-weight: 400;
    padding: 0rem 1rem;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.now{
    color: #32387A;
    font-weight: 600;
    font-size: clamp(1.5rem, calc(2vw + 1.5rem), 2rem);
    padding: 0.5rem;
}
.sub-text{
    color: #32387A;
    font-weight: 500;
    font-size: clamp(1rem, calc(2vw + 0.5rem), 1.5rem);
}
.gmat-learning{
    background-color: #EEEBFF;
    padding: 2rem 4rem;
}
.gmat-heading{
    color: #0E155E;
    font-weight: 700;
    font-size: 2.4rem;
}
.gmat-sub-heading{
    color: #32387A;
    font-weight: 600;
    font-size: 2rem;
}
.trust{
    font-size: clamp(1.2rem, calc(2vw + 0.5rem), 1.5rem);
    color: #646363;
    padding: 0rem 4rem;
}
.trust-1{
    padding-top: 2rem;
}
.gmat-card{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 3rem;
    justify-content: center;
    text-align: center;
}
.gmat-prep{
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    align-items: stretch;
    justify-content: flex-start;
    text-align: left;
    padding: 0rem;
    align-content: center;
    flex-wrap: wrap;
    margin: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 5px 0 5px -2px rgba(136, 136, 136, 0.22);
} 
.card-icon{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}
.card-heading{
    color: #fff;
    margin: 1rem 0;
    text-align: center;
    font-weight: 700;
    font-size: clamp(1.2rem calc(2vw + 0.5rem), 1.5rem);
}
.color-1{
    background-color: #FF3654;
}
.color-2{
    background-color: #1D39CF;
}
.color-3{
    background-color: #FF9D00;
}
.color-4{
    background-color: #9617D1;
}
.color-5{
    background-color: #FF007A;
}
.card-text{
    color: #32387A;
    font-weight: 500;
}
.card-li-text{
    color: #32387A;
    font-weight: 500;
}
.download{
    text-decoration: underline;
    cursor: pointer;
    color: #32387A;
    font-weight: 500;
    float: right;
    padding: 0 1rem;
}
.apply-form{
    text-align: center;
    background-color: #EEEBFF;
    padding: 1.5rem 0;
}
.apply-heading{
    color: #3E3C3C;
    font-size: clamp(1rem calc(2vw + 1rem), 1.2rem);
}
.form-section {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.input-section {
    display: flex;
    justify-content: center;
}
.input-box {
    font-family: "Poppins", sans-serif;
    width: 380px;
    height: 50px;
    border: 2px solid #3e3c3c;
    font-size: 1.2rem;
    padding-left: 20px;
    margin: 2rem;
}
.submit-btn {
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    height: 60px;
    width: 318px;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-color: #4F35F2;
    border: 4px solid #ffffff;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem;
}
.profile-score{
    width: 40%;
}
.profile-heading{
    color: #474799;
    font-weight: 500;
    padding: 1rem 0;
    font-size: 1.8rem;
}
.profile-subheading{
    color: #474799;
    background-color: #D9D9FC;
    width: max-content;
    padding: 0.5rem 1rem;
}
.profile-hero-img{
    width: 100%;
}
.profile-platform{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.plt{
    background-color: #EEEBFF;
    padding: 2rem 0;
    align-content: center;
    justify-content: center;
    margin: auto;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.plt-head{
    padding: 3rem 4rem;
}
.profile-plt-heading{
    color: #32387A;
    font-weight: 500;
    font-size: 1.7rem;
}
.profile-plt-subheading{
    color: #3E3C3C;
    font-weight: 600;
    font-size: 2rem;
}
.profile-card{
    display: block;
    padding: 1rem 1rem 2rem 1rem;
    width: 270px;
}
.pcard-text{
    color: #32387A;
    font-weight: 500;
    background: #FFFFFF;
    padding: 1rem 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 20px 20px;
}
.certified{
    display:block;
    padding: 3rem 2rem;
    height: min-content;
}
.cert-heading{
    color: #32387A;
    padding: 0.3rem 1rem;
    border: 1.5px solid #32387A;
    width: max-content;
}
.certified-main{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}
.coll1{
    display: block;
    padding: 2rem;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}
.cert-main-heading{
    color: #32387A;
}
.cert-main-subheading{
    color: #0E155E;
    background-color: #FFCB0D;
    padding: 0.3rem 7rem 0.3rem 0.3rem;
    margin: 0;
}
.coll2{
    display: block;
    padding: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.kirt-img{
    width: 350px;
}
.kri-text{
    text-align: center;
    font-weight: 500;
    color: #32387A;
}
.cl-consultants{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: auto;
}
.mba-consultant{
    width: 70%;
    padding: 1rem;
}
.invest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem 0;
}
.invest-heading{
    width: max-content;
    font-weight: 600;
    padding: 0.5rem 2rem 0.5rem 1rem;
}
.price-chart{
    padding: 1rem;
    width: 70%;
    margin: auto;
}
.payment-heading{
    font-weight: 600;
    background-color: #0E155E;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
}
.success-img{
    width: 35%;
    padding: 2rem 3rem;
}
.success-stories{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    column-gap: 2rem;
}
.success-story{
    width: 500px;
    height: 350px;
    padding: 1rem 0.5rem;
}
.student-exp{
    width: 45%;
    padding: 2rem 3rem;
}
.student-success{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    column-gap: 1rem;
}
.student-card{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    border: 1px solid #4F35F2;
    padding: 2rem;
    height: 350px;
    width: 550px;
}
.name{
    color: #32387A;
    font-weight: 600;
    font-size: 1.5rem;
}
.stars{
    width: 120px;
    padding: 1rem 0;
}
.story{
    color: #646363;
}
.footer-img{
    display: flex;
    width: 800px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.footer-section {
    background-color: #4f35f2;
    text-align: center;
    color: #fff;
    padding: 1rem 0;
}
@media (max-width: 600px) {
    .banner{
        padding: 1rem;
    }
    .clabs-logo{
        width: 50%;
        height: 50%;
    }
    .banner-content{
        flex-direction: column;
    }
    .santosh-img{
        width: 300px;
    }
    .san-text{
        font-size: 12px;
    }
    .open-popup{
        width: 300px;
    }
    .heading{
        width: auto;
        text-align: left;
        font-weight: 600;
        line-height: 2em;
        padding: 2rem 0;
    }
    .download{
        text-align: center;
        margin: 0;
    }
    .gmat-prep{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .input-section {
        display: flex;
        flex-direction: column;
    }
    .input-box {
        width: 70%;
        height: 40px;
        margin: 15px auto;
        border: 2px solid #3e3c3c;
        font-size: 15px;
        font-family: "Poppins";
        padding-left: 20px;
    }
    .submit-btn {
        font-family: "Poppins", sans-serif;
        height: 40px;
        width: 218px;
        font-size: 1rem;
        font-weight: 600;
        padding: 0.2rem 0rem;
    }
    .trust{
        padding: 0 2rem;
    }
    .gmat-card{
        flex-wrap: wrap;
        padding: 0rem;
    }
    .card{
        width: auto;
        padding: 0rem;
        border-radius: 0;
    }
    .profile-container{
        display: flex;
        flex-wrap: wrap;
    }
    .profile-score{
        padding: 1rem;
        width: 70%;
    }
    .profile-heading{
        font-size: 1rem;
        padding: 1rem;
    }
    .gmat-sub-heading{
        font-size: 1.5rem;
        padding: 0;
    }
    .profile-subheading{
        font-size: 1rem;
    }
    .plt{
        padding: 0;
    }
    .profile-plt-heading{
        font-size: 1.3rem;
        padding: 0;
        margin: 0;
    }
    .profile-plt-subheading{
        font-size: 1.4rem;
        padding: 0;
        margin: 0;
    }
    .profile-platform{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .profile-card{
        display: block;
        justify-content: flex-start;
        padding: 1rem;
        width: 200px;
    }
    .btn{
        display: flex;
        text-align: center;
        align-items: center !important;
        justify-self: center;
        margin: 0 auto;
    }
    .certified{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .certified-main{
        display: flex;
        flex-direction: column;
    }
    .coll1{
        display: block;
        padding: 1rem;
        margin-top: 6rem;
    }
    .coll2{
        display: block;
        padding: 0;
        margin: 0;
    }
    .cert-heading{
        font-size: 1.2rem;
        width: inherit;
        padding: 1rem;
        margin: 1rem;
    }
    .cert-main-heading{
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
    .cert-main-subheading{
        font-size: 1rem;
    }
    .kirt-img{
        width: 50%;
    }
    .mba-consultant{
        width: 100%;
    }
    .invest-heading{
        font-size: 1.2rem;
    }
    .price-chart{
        width: 90%;
    }
    .payment-heading{
        font-size: 1.2rem;
    }
    .success-img{
        width: 80%;
    }
    .success-stories{
        display: flex;
        flex-direction: column !important;
    }
    .success-story{
        width: 300px !important;
        height: 200px !important;
    }
    .student-exp{
        width: 80%;
        padding: 1rem;
    }
    .student-success{
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .student-card{
        width: 350px;
        height: 400px;
        padding: 1rem;
        margin: 1rem;
    }
    .name{
        font-size: 1rem;
    }
    .stars{
        width: 50px;
    }
    .story{
        font-size: 1rem;
    }
    .footer-img{
        width: 70%;
    }
}

@media (max-width: 900px){
    .banner{
        padding: 2rem;
        width: 100vw;
    }
    .heading{
        padding: 3rem 0;
    }
    .banner-content{
        flex-direction: column;
    }
    .gmat-card{
        flex-wrap: wrap;
    }
    .card{
        width: 270px;
        flex-wrap: wrap;
    }
    .input-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .certified{
        display: block;
    }
    .certified-main{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .coll1{
        padding: 1rem;
        margin: 0;
    }
    .coll2{
        padding: 0;
        margin: 0;
    }
    .kirt-img{
        width: 50%;
    }
    .mba-consultant{
        width: 100%;
    }
    .success-stories{
        flex-direction: row;
        column-gap: 10px;
    }
    .success-story{
        width: 367px;
        height: 250px;
    }
    .student-success{
        flex-direction: row;
    }
    .student-card{
        width: 360px;
        height: 500px;
    }
    .footer-img{
        width: 90%;
    }
}